{
  "presets": [
    [
      "es2015"
    ],
    "stage-0",
    "react"
  ],
  "env": {
    "test": {
      "plugins": [
        "istanbul"
      ]
    }
  },
  "plugins": [
    "transform-object-rest-spread",
    "babel-plugin-transform-runtime",
    "react-hot-loader/babel",
    [
      "react-css-modules",
      {
        "webpackHotModuleReloading": true,
        "filetypes": {
          ".scss": {
            "syntax": "postcss-scss"
          }
        }
      }
    ]
  ]
}
