{
  "presets": [
    [
      "es2015"
    ],
    "stage-0",
    "react"
  ],
  "plugins": [
    "transform-object-rest-spread",
    "babel-plugin-transform-runtime",
    "react-hot-loader/babel",
    [
      "react-css-modules",
      {
        "filetypes": {
          ".scss": "postcss-scss"
        }
      }
    ]
  ]
}
