{
	"env": {
		"es6": true,
		"browser": true,
		"node": true
	},
	"extends": [
		"airbnb"
	],
	"plugins": [
		"react",
		"jsx-a11y"
	],
	"parser": "babel-eslint",
	"parserOptions": {
		"sourceType": "module"
	}
}
