$white: #fff;
$black: #000;
$grey: #eee;
$light-grey: #dfdfdf;

$ge-green: #3b9c00;
$ge-green-dark: #267700;
$ge-light-grey: #f2f2f2;
$combate-red: #c00f06;

$link-color: #1063e0;
$text-color: #333;
$text-color-medium: #777;
$text-color-light: #999;

$social-facebook: #3b5998;
$social-pinterest: #bd081c;
$social-twitter: #55acee;
$social-email: #db4437;

